openapi: "3.0.0"
info:
  version: 1.0.0
  title: Kuaizu Server API
servers:
  - url: http://localhost:8080
paths:
  /hello:
    get:
      summary: Get Hello World
      operationId: getHello
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
